<!DOCTYPE html>
<html ng-app>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body ng-init="
    user='lsl';
    hello='welcome'
">
    <h1>{{ user }},{{hello}}</h1>
    <input type="text" ng-model="user" placeholder="Enter a name here">
    <input type="text" ng-model="hello">
    <script src="../js/angular.min.js"></script>
</body>

</html>